/* *UTILITIES* */

img {
    max-width: 100%;
}

.rounded-4 {
    border-radius: 15px;
}

.btn-pill {
    border-radius: 25px;
}

/* COLOR */

.c-grey {
    color: darkgrey;
}

.c-blue {
    color: cadetblue;
}

/* BACKGROUND-COLOR */

.bg-beige {
    background-color: rgb(190, 188, 187);
}

.btn-beige {
    background-color: rgba(190, 188, 187, 0.5);
}

/* *HEADER* */

header {
    min-height: 110px;
}

/* *TOP-BAR */

.top-bar {
    min-height: 40px;
    background-color: black;
}

/* *RETURNAL* */

#returnal {
    min-height: 575px;
    background-image: url("../img/jumbo-bg.png");
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 1px dashed blue;
}

/* *INFO-CARD* */

#info-card .col-6 {
    border: 1px solid black;
}

/* *CONSOLE* */

#console {
    border: 1px dashed blue;
}

#console .no-limits {
    border: 1px dashed orange;
}

#console .plus-info {
    border: 1px dashed orange;
}

#console .accessories {
    border: 1px dashed orange;
}

/* *IT TAKES TWO* */

#it-takes-two {
    min-height: 575px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 1px dashed blue;
}

/* *NEW RELEASES* */

#new-releases {
    border: 1px dashed blue;
}

/* *EXPLORE* */

#explore {
    border: 1px dashed blue;
}

/* *P-PLUS* */

#p-plus {
    border: 1px dashed blue;
}

/* *SALES* */

#sales {
    border: 1px dashed blue;
}

/* *PS NOW* */

#ps-now {
    border: 1px dashed blue;
    background-color: rgb(22, 28, 59);
}

/* *SOCIAL* */

#social {
    border: 1px dashed blue;
}

/* *FOOTER* */

#footer {
    border: 1px dashed blue;
    min-height: 2000px;
    background-color: rgb(0, 67, 156);
}

#ps-footer-logo {
    min-height: 100px;
}

#globe {
    max-height: 25px;
}