/* *UTILITIES* */

img {
    max-width: 100%;
}

.rounded-4 {
    border-radius: 15px;
}

.btn-pill {
    border-radius: 25px;
}

/* COLOR */

.c-grey {
    color: darkgrey;
}

.c-blue {
    color: rgb(0, 114, 206);
}

/* BACKGROUND-COLOR */

.btn-orange {
    background-color: rgb(205, 61, 15);
}

.bg-beige {
    background-color: rgb(190, 188, 187);
}

.btn-beige {
    background-color: rgba(190, 188, 187, 0.5);
}

/* *HEADER* */

header {
    min-height: 110px;
}

/* TOP-BAR  */

.top-bar {
    min-height: 40px;
    background-color: black;
}

.top-bar>img {
    max-height: 20px;
}

/* *RETURNAL* */

#returnal {
    min-height: 575px;
    background-image: url("../img/jumbo-bg.png");
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#returnal>div {
    top: 50%;
}

/* *INFO-CARD* */

/* *CONSOLE* */

/* *IT TAKES TWO* */

#it-takes-two {
    min-height: 575px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* *NEW RELEASES* */

/* *EXPLORE* */

/* *P-PLUS* */

/* *SALES* */

/* *PS NOW* */

#ps-now {
    background-color: rgb(22, 28, 59);
}

/* *SOCIAL* */

/* *FOOTER* */

#footer {
    background-color: rgb(0, 67, 156);
}

#ps-footer-logo {
    min-height: 180px;
}

#globe {
    max-height: 25px;
}

#footer li, #footer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
}

#sie-logo {
    max-height: 70px;
    max-width: 150px;
}